/* folha de estilos de CSS3 */
body{
    padding: 20px;
}

p{
    /*Espaçamento entre LINHAS*/
    line-height: 20px;

    /*Espaçamento entre LETRAS*/
    letter-spacing: 1px;

    /*Espaçamento entre PALAVRAS*/
    word-spacing: 5px;

}