h1{

    /*Tipos de definir cor

    Cor pelos nomes.*/
    background-color: orange;

    /* RGB e RBGA junsão das cores vermelho, verde e azul para fazer outra*/
    background-color: rgb(64, 160, 9);
    background-color: rgba(221, 245, 9, 0.3);
}